<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error</h1>
        <h2>We are sorry, an error occurred while processing your request. Please retype the city or zipcode and try again.</h2>
    </hgroup>
</body>
</html>
