@{
    ViewBag.Title = "About the Developers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Sean Armstrong</h3>
<p>From cultivating relationships to cultivating software as a .NET developer</p>

<h3>Catherine Stafford</h3>
<p>Digital Artist Delivering Hand Crafted C# .Net Code</p>

<h3>Chris Butcher</h3>
<p>Former higher education professional and cycling enthusiast changing gears in to backend developer</p>