@{
    ViewBag.Title = "About What2Pack";
}
<br/>
<h3>@ViewBag.Message</h3>

<p>
    What2Pack? is program that analyzes the past 3 years of weather patterns to help travelers decide on what to pack for their upcoming trip.<br/><br />

    After the raw historical weather data is analyzed What2Pack? then applies custom written logic that uses weather definitions to determine if the historic weather is: hot, warm, cool, cold, rainy and/or windy.<br /><br />

    That information is passed to yet another algorithm to determine what clothing and trip items best fit the weather data and how much of each item will be needed based on the length of the trip.<br /><br />

    Finally using a combination of clothing measurements from retailers and real world measurements, What2Pack? implements a packing layer where it takes the folded clothing items and fits them into a standard sized carry-on or checked suitcase to make sure that the user can pack everything that is recommended.<br /><br />

    Your developers all live in the great state of Michigan and tweaked the weather logic to represent how Michiganders feel about the weather and packing.
</p>
