@{
    ViewBag.Title = "About the Developers";
}
<br />
<h3>@ViewBag.Message :</h3>

<div>
    <div class="card col-md" style="width: 20rem">
        <h4 class="card-title" style="text-align:center"> Sean Armstrong</h4>
        <div class="card-body" style="text-align:center">
            From cultivating relationships to cultivating software as a .NET developer
        </div>
    </div>
</div>


<div>
    <div class="card col-md" style="width: 20rem">
        <h4 class="card-title" style="text-align:center">Catherine Stafford</h4>
        <div class="card-body" style="text-align:center">
            Digital Artist Delivering Hand Crafted C# .Net Code
        </div>
    </div>
</div>

<div>
    <div class="card col-MD" style="width: 20rem">
        <h4 class="card-title" style="text-align:center">Chris Butcher</h4>
        <div class="card-body" style="text-align:center">
            Former higher education professional and cycling enthusiast changing gears in to backend developer
        </div>
    </div>
</div>
